body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #0b2434;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 28rem;
  max-width: 90vw;
  padding: 1.5rem 0.5rem;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  box-shadow: 0.0625rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 2.5rem;
}

.instructions {
  max-width: 85%;
  font-family: Inter, Karla, sans-serif;
  font-size: 1.1rem;
  color: #4a4e74;
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  padding: 1rem 0.2rem;
}

.die {
  width: 3rem;
  height: 3rem;
  font-size: 1.75rem;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}

.die:focus,
.roll-dice:focus,
.roll-dice:focus-visible {
  outline-color: #59e391;
  outline-offset: 2px;
}

.die:active,
.roll-dice:active {
  transform: scale(0.95);
}

.die:hover,
.roll-dice:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}

.roll-dice:hover {
  opacity: 0.9;
}

.roll-dice {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background-color: #5035ff;
  border-radius: 0.625rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: 500px) {
  main {
    padding: 2rem;
  }

  .dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    padding: 1rem;
  }
}
